nox
wheel
twine
joblib==1.0.1
black==21.7b0
setuptools
loguru
python-dotenv==0.19.0
commitizen
pre-commit
bump2version==1.0.1
watchdog
flake8
tox
coverage
Sphinx
pytest
pytest-azurepipelines
pytest-cov
commitizen
jupyter
notebook
mkdocs
mkdocs-material
pytest-xdist
hypothesis
pytest-mock
pylint
typer
sphinx_rtd_theme
packaging==20.9
autoflake==1.4
commitizen-emoji==0.1.5